.teamNameSubmit {
    margin: 0.25rem auto;
}

.teamNameForm {
    margin-bottom: 0.5rem;
}

.btn-submit {
    color: white;
    background-color: green;
    border-radius: 5px;
    border: 1px solid black;
}

.playerForm {
    margin: 0.25rem auto;
}

.addTeamContainer {
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    width: 15%;
}

.addPlayerContainer {
    width: 15%;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.scoreRecorder, .teamSelection {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    width: 25%;
}

.teamDropdownGame {
    margin: 0.5rem 0;
}

.saveScores, #startGame {
    margin-top: 1rem;
}

.score {
    margin-bottom: 0.5rem;
}